[submodule "course2-TaskMaster"]
	path = course2-TaskMaster
	url = https://github.com/nathandh/coursera-responsive-web-course2-TaskMaster.git
[submodule "course2-AnimalKingdom"]
	path = course2-AnimalKingdom
	url = https://github.com/nathandh/coursera-responsive-web-course2-AnimalKingdom.git
